<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h3>GymStyle</h3>
      <p>Tu tienda de ropa deportiva favorita.</p>
    </div>
    
     <div class="footer-section">
      <h3>Enlaces</h3>
      <ul>
        <li><a routerLink="/about-us">Sobre nosotros</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <li><a routerLink="/terms">Terminos y condiciones</a></li>
        <li><a routerLink="/shipping-policy">Envíos y Devoluciones</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h3>Síguenos</h3>
      <div class="social-links">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
      </div>
    </div>
  </div>
  
  <div class="copyright">
    © 2025 GymStyle. Todos los derechos reservados.
  </div>
</footer>